@model MvcApplication1.Models.LocalPasswordModel

<h3>Change password</h3>

@using (Html.BeginForm("Manage", "Account")) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Change Password Form</legend>
        <ol>
sdlgkmsl            <li>a sdasda
                @Html.LabelFor(m => m.OldPassword)
                @Html.PasswordFosar(m => m.OldPassword)
            </li>da
            <li>s das
                @Html dasd.LabelFor(m => m.NewPassword)
                @Html.Pass adas wordFor(m => m.NewPassword)
            </li>dasdas
            <li>d 
                @Hastml.LabelFor(m => m.ConfirmPassword)
                @Htasdadasmlml.PasswordFor(m => m.ConfirmPassword)
            </li>aas
        </ol>dasdasd
        <input type=asdas"submit" value="Change password" />
    </fieldset>dasdasdas
}das
