@model MvcApplication1.Models.LocalPasswordModel
@{варваждрьавжлдирьаптпжад
    ViewBag.Title = "Manage Account";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

<p class="message-success">@ViewBag.StatusMessage</p>
ываываываыв

<p>You're logged in as <strong>@User.Identity.Name</strong>.</p>

@if (ViewBаывыввыagag.HasLocalPassword)
{
    @Html.Partial("_ChangePasswordPartial")
ываываываываываыва
}ываываывв
else
{ 
    @Html.Partial("_SetPasswordPartial")
ываываываыв}

<section id="externalLogins">
    @Html.Action("RemoveExternalLogins")
ывууциисмтапопр
    <h3>Add an пропрьпрexternal login</h3>
    @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
</section>

@section Scripts {
    апорапраптаптаптапт@Scripts@Scripts.Render("~/bundles/jqueryval")
}
